@import url(reset.css);
@import url(responsivo.css);
@import url(components/cabecalho.css);
@import url(components/section-home.css);
@import url(components/section-sobre-mim.css);
@import url(components/titulo-section.css);
@import url(components/section-projetos.css);
@import url(components/footer.css);
@import url(components/scroll-reveal.css);

:root {

}

* {
  margin: 0 auto;
}



main {
  width: 100vw;
  margin: 0 auto;
  text-decoration: none;
}

@font-face {
    font-family: 'glitchgoblin';
    src: url('fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}