
@import url(reset.css);
@import url(responsivo.css);
@import url(components/cabecalho.css);
@import url(components/section-home.css);

:root {

}

* {
}

body {
 
}

main {
  width: 90vw;
  margin: 0 auto;
  text-decoration: none;
}

@font-face {
    font-family: 'glitchgoblin';
    src: url('fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}