@font-face {
    font-family: 'glitchgoblin';
    src: url('../../fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}

@font-face {
    font-family: 'vt323';
    src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

.main_footer {
    background: linear-gradient(to bottom, #04131A, #000000);
    color: #ffffff;
    font-size: 0.875em;
}

.main_footer .content2 {
    float: left;
    width: 90%;
    margin: 0 5%;
    padding: 5em 0;
}

.container2 {
    float: left;
    width: 100%;
}

.colfooter {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
    line-height: 1.5rem;
}

.colfooter .titleFooter {
    font-family: 'glitchgoblin';
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #761D5F;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #4ec0db solid;
}

.colfooter p {
    font-family: 'vt323';
    color: #ffffff;
    font-size: 1.3em;
    height: 2rem;
    line-height: 1.3rem;
}

.botao {
    padding: 10px 12px;
    font-family: 'open_sansregular';
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}

.botao:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.main_footer_copy {
    background: linear-gradient(to bottom, #04131A, #04131A);
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family: 'vt323';
    font-size: 1.2em;
    color: #e1e0e0;
    height: 2rem;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 1em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #e82626;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {
    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

  
    
}