@font-face {
    font-family: 'vt323';
    src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'glitchgoblin';
    src: url('../../fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}

footer {
    width: 100%;
    height: 36vh;
    background: linear-gradient(to bottom, #04131A, #000000);
    color: white;
}

#footer_content {
    width: 38vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contacts contacts contacts links";
}

#footer_contacts {
    font-family: 'vt323';
    font-size: 24px;
    padding: 3rem 3.5rem;
    grid-area: contacts;
}

#footer_contacts h4{
    font-family: 'glitchgoblin';
    font-size: 24px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #761D5F;
    font-weight: bold;
    padding-bottom: 2rem;
}


#footer_links {
    width: 35vw;
    grid-area: links;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    margin-left: auto;
}

#footer_links h4 {
    font-family: 'glitchgoblin';
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #761D5F;
    grid-area: contacts;
    color: white;
    margin-left: auto;
    margin-right: 21rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-size: 34px;
}

#footer_links ul {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-right: 15rem;
}

#footer_links li {
    margin-left: 1rem; 
}

#footer_links a:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-template-areas:
            "contacts contacts"
            "links links";
    }
    #footer_links {
        justify-content: center;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        grid-template-areas:
            "contacts"
            "links";
    }
}