@font-face {
  font-family: 'vt323';
  src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

#section-projetos {
  position: relative;
  height: 100vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

#section-projetos .quarto-titulo {
  font-family: 'glitchgoblin';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #761D5F;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.5;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 2.5vw;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.project-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-card {
  flex: 0 0 auto;
  width: 400px;
  height: 300px;
  margin-right: 40px;
}

.project-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 5%;

}


.project-thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.project-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #D017B8;
  color: white;
  font-weight: bold;
}

.project-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.project-brand {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1rem;
  font-family: 'vt323';
  paint-order: stroke fill;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #761D5F;
  color: white;
}

.project-short-description {
  font-family: 'vt323';
  paint-order: stroke fill;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #761D5F;
  color: white;
  font-size: 1.2rem;
  background-color: #04131A;
  border-width: 1px;
  border-color: #D017B8;
  border-radius: 15px;
  padding: 0.5rem;
  line-height: 1;
}

.price {
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 5vw;
  height: 5vh;
  position: absolute;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  max-width: 100%;
  max-height: 100%;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1410px) {
  .project-card {
    flex: 0 0 auto;
    width: 350px;
    height: 250px;
    margin-right: 40px;
  }

  #section-projetos .quarto-titulo {
    margin-top: 15rem;
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 768px) {
  #section-projetos .quarto-titulo {
    margin-top: 3rem;
    font-size: 1.9rem;
  }
}