@font-face {
    font-family: 'vt323';
    src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

#section-sobre-mim {
    position: relative;
    height: 100vh;
    width: auto;
    margin-top: 49%;
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url("../../utils/neon-lights-dark-5824x3264-12563\ \(3\).jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.texto-e-icons .texto-sobre {
    font-family: 'vt323';
    paint-order: stroke fill;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #761D5F;
    position: absolute;
    left: 6%;
    top: 36%;
    max-width: 47%;
    color: white;
    z-index: 2;
    font-size: 38px;
    margin: 1rem;
    text-align: justify;
}

.texto-e-icons .texto-sobre #texto-digitar::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
     50% {
        opacity: 0;
     }
}

.gif {
    position: absolute;
    left: 5%;
    top: 35%;
    justify-content: flex-start;
    z-index: -1;
    opacity: 0.9;
    min-width: 50%;
    min-height: 50%;
    border-radius: 50px;
    border: solid;
    border-width: 5px;
    border-color: #D017B8;
}


.foto-sobre img {
    position: absolute;
    width: auto;
    height: auto;
    right: 5%;
    top: 32.5%;
    border-radius: 120px;
    z-index: 3;
}

.foto-sobre .gif-img {
    position: absolute;
    right: 5%;
    top: 32%;
    padding: 5px;
    border-radius: 160px;
    height: 530px;
    width: 420px;
    object-fit: cover;
}

.icons-tech {
    position: relative;
    top: 50%;
    right: 44%;
    width: 40vw; 
    height: 20vh;
    display: flex;
    align-items: center;
}

.icondiv {
    position: relative;
    width: 100px; 
    height: 100px; 
}

.icons-tech, .icondiv:hover  {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.circles, .icons {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.icons {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: 50%; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circles {
    animation: spin 3s linear infinite; 
}