#section-projetos {
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url("../../utils/neon-lights-dark-5824x3264-12563_2.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .project-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .project-container::-webkit-scrollbar {
    display: none;
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 400px;
    height: 300px;
    margin-right: 40px;
  }
  
  .project-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5%;
    border: solid 1px;
    border-color: white;
  }
  
  .project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    font-weight: bold;
  }
  
  .project-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #D017B8;
    color: white;
    font-weight: bold;
  }
  
  .project-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .project-brand {
    text-transform: uppercase;
    color: white;
  }
  
  .project-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    color: white;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
    color: white;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 5vw;
    height: 5vh;
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }