#section-projetos {
    position: relative;
    height: 100vh;
    width: auto;
    /* A posição da seção é definida abaixo da primeira seção */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: url("../../utils/neon-lights-dark-5824x3264-12563\ \(2\).jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
}