@font-face {
    font-family: 'glitchgoblin';
    src: url('../../fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}

@font-face {
    font-family: 'vt323';
    src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

#section-home {
    position: relative;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

#section-home {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../utils/circuit-lines-upscaled\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.conteudo-home {
    display: inline-block;
    justify-content: left;
    text-align: justify;
    color: #fff;
    margin: 15% 10%;
    z-index: 0;
}

.conteudo-home h1 {
    font-family: 'glitchgoblin';
    font-size: 2rem;
    margin-bottom: 2rem;
    paint-order: stroke fill;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #761D5F;
    font-weight: bold;
}

.conteudo-home h2 {
    font-family: 'glitchgoblin';
    font-size: 3rem;
    paint-order: stroke fill;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #761D5F;
}

.conteudo-home p {
    font-family: 'vt323';
    font-size: 3rem;
    margin-top: 7rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #761D5F;
}

.icons-contato ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    right: 3%;
    top: 30%;
}

.icons-contato a:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 1100px) {
    #section-home {
        height: auto;
        /* Ajuste da altura mínima em telas menores */
    }

    .conteudo-home {
        margin: 10% 5%;
    }

    .conteudo-home h1 {
        font-family: 'glitchgoblin';
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
        paint-order: stroke fill;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #761D5F;
        font-weight: bold;
    }

    .conteudo-home h2 {
        font-family: 'glitchgoblin';
        font-size: 2rem;
        paint-order: stroke fill;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #761D5F;
    }


    .conteudo-home p {
        font-family: 'vt323';
        font-size: 2.2rem;
        margin-top: 2rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #761D5F;
    }

    .icons-contato ul {
        right: 5%;
        /* Ajuste da posição dos ícones em telas menores */
        top: 10%;
        /* Ajuste da posição dos ícones em telas menores */
    }

    .icons-contato ul li img {
        width: 80%;
        height: 80%;
    }

}

@media only screen and (max-width: 660px) {

    .conteudo-home {
        margin: 10% 5% 0%;
    }

    .conteudo-home h1 {
        font-family: 'glitchgoblin';
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
        paint-order: stroke fill;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #761D5F;
        font-weight: bold;
    }

    .conteudo-home h2 {
        font-family: 'glitchgoblin';
        font-size: 1.5rem;
        paint-order: stroke fill;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #761D5F;
    }

    .conteudo-home p {
        font-family: 'vt323';
        font-size: 2rem;
        margin-top: 2rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #761D5F;
    }

    .icons-contato ul {
        width: 40%;
        right: 30%;
        top: 50%;
        flex-direction: row;
    }

    .icons-contato ul li img {
        width: 100%;
        height: 100%;
    }
}