@font-face {
    font-family: 'glitchgoblin';
    src: url('../../fonts/GlitchGoblin-2O87v.ttf') format('truetype');
}

.titulo-section {
    font-family: 'glitchgoblin';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #761D5F;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.5;
    justify-content: center;
    display: flex;
    color: white;
    padding: 70px 25px 70px 25px;
    font-weight: bolder;
    font-size: 2.5vw;
}